#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: start;
}

.horizontal {
  writing-mode: horizontal-tb;
}
.vertical-lr {
  writing-mode: vertical-lr;
}
.vertical-rl {
  writing-mode: vertical-rl;
}